.hero {
  width: 50%;
  margin: 30px auto;
  margin-top: 70px;
  line-height: 60px;
}

.heading {
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}

.paragraph {
  margin-top: 20px;
  text-align: center;
  line-height: 20px;
  color: gray;
}

.imgContainer {
  /* margin-top: -80px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  width: 1200px;
  margin: 0px auto;
}

@media only screen and (max-width: 600px) {
  .hero {
    width: 80%;
  }

  .hero img {
    width: 400px;
    margin: 70px auto;
  }
}
